@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    background-image: url('https://wallbox.ru/resize/1600x1200/wallpapers/main/201136/tekstury-oboi-siniy-c4c9e16.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.calculator {
    text-align: left;
    padding: 30px 0;
    max-width: 530px;
    margin: 0 auto;
}

.calculator__section {
    margin-top: 20px;
    position: relative;
}

.title {
    text-align: center;
    padding-top: 30px;
}

.title__text {
    font-size: 30px;
}

.result {
    text-align: center;
    margin-top: 15px;
}

.result__btn {
    background: rgba(69, 176, 69, 0.6);
    padding: 10px 30px;
    border: 1px solid#45b045;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
}

.result__btn:hover {
    cursor: pointer;
    background: rgba(51, 160, 51, 0.6);
    transition: 0.2s ease-in;
    border-radius: 4px;
}

.text-input {
    font-weight: 100;
    height: 20px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid#fff;
    width: 200px;
    border-radius: 4px;
}

.radio-input {
    cursor: pointer;
    margin-left: 10px;
}

label:not(.age__label) {
    cursor: pointer;
    margin-left: -5px;
}

.select {
    /*margin-left: 10px;*/
    display: inline-block;
}

.list {
    width: 204px;
    height: 24px;
    background: transparent;
    color: #fff;
    border: 1px solid#fff;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.activity__select {
    margin-left: 10px;
}

.activity {
    display: flex;
    align-items: center;
}

.error {
    color: red;
    transition: 0.1s ease-in;
    opacity: 0;
    margin-bottom: -17px;
    height: 19px;
}

.vibration {
    animation: 0.1s tremor ease-out;
    animation-iteration-count: 3;
}

.no-valid {
    border: 1px solid crimson;
}

.hidden {
    display: none;
}

.hiddenOpacity {
    opacity: 0;
    z-index: -1;
}

.blured {
    filter: blur(2px);
    transition: 0.2s ease-in;
}

.help {
    position: relative;
}

.help:before {
    position: absolute;
    content: '?';
    background: rgba(69, 176, 69, 0.6);
    border: 1px solid#45b045;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 10px;
    top: -10px;
    text-align: center;
}

.help:hover:before {
    cursor: pointer;
    background: rgba(51, 160, 51, 0.6);
    transition: 0.2s ease-in;
}

.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: 0.2s ease-in;
    /*opacity: 1;*/
}

.modal-window {
    position: absolute;
    border: 1px solid;
    padding: 2px 8px;
    border-radius: 4px;
    max-width: 700px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    background: url('https://wallbox.ru/resize/1600x1200/wallpapers/main/201136/tekstury-oboi-siniy-c4c9e16.jpg') no-repeat center center;
    top: calc(50% - 300px);
    left: calc(50% - 350px);
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.75);
}

.modal-close {
    position: absolute;
    right: 9px;
    top: 8px;
    border: 1px solid;
    padding: 2px 7px;
    border-radius: 4px;
}

.modal-close:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
}

.rules__list {
    font-size: 16px;
    font-weight: 300;
}

.rules__item {
    margin-top: 5px;
}

.result__output {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 400px;
}

@keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-1%);
        transform: translateX(-1%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
    }
}




